@model PruebaCristianArroyo.Models.Carta

@{
    ViewData["Title"] = "Details";
}

<h1 style="font-size:22px;">Detalles de Carta</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>
        <dd class = "col-sm-10">
            @{
                var base64 = Convert.ToBase64String(Model.Imagen);
                var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
            }
            <img src="@imgsrc" style="max-width: 500px; max-height: 500px" />
        </dd>
       
    </dl>
</div>
<div>
    <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a>
    <a class="btn btn-primary" asp-action="Index">Regresar a la lista</a>
</div>
