@model PruebaCristianArroyo.Models.Carta

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Carta</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imagen" class="control-label"></label>
                <input type="file" asp-for="Imagen" class="form-control" />
                <span asp-validation-for="Imagen" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top:15px;">
                <input type="submit" value="Guardar" class="btn btn-info" style="color:white; font-weight:600;" />
                <a class="btn btn-primary" asp-action="Index" style="color:white; font-weight:600;">Regresar a la lista</a>
            </div>
        </form>
    </div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
