@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="padding-top:100px;background:linear-gradient( 60deg , #0099B3, #0099b36e)!important;padding-bottom:300px;">
    <h1 class="display-4" style="font-size:70px; font-weight:500; color:floralwhite;">
        Prueba Cristian Arroyo
    </h1>
</div>
